
/*fuente*/
#fuente {
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
}                                 
/*tamaño letra*/
.small-text {font-size: 10px;}
/*texto centrado*/
#center{text-align: center;}
/*párrafos*/
.p-negrita{font-weight: bold;}
.p-mediaaltura{line-height: 50%;}


/*colores fondo*/
.color-navbar{color: rgba(0, 0, 0, 0.8);}
/*colores tipografía*/
.colortypo-footer{color: rgb(81, 81, 84);}
.colortypo-red{
    color:red;
    font-size: small;
}
/* Colores links */
.bluelink{color: rgb(0, 113, 227);}
.backgroundcolor{color:red;}


/*botón*/
.button {
    background-color: rgb(0, 113, 227);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    border-radius:20em;    
  }

/*navbar*/
.navbarlista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
  }
.itemnavbar {
    float: center;
    display: inline-block;
  }
.itemnavbar-link {
    display: inline-block;
    color: rgb(242, 242, 242);;
    text-align: center;
    padding: 14px 16px;
    margin: 0 10px;
    text-decoration: none;
  }
.itemnavbar-link:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

/*navbar footer*/
.marginfooter{margin-left: 50px;}
.textfooter{margin: 15px 15px;}
    /*caja footer*/
footer { 
    background-color: rgb(245, 245, 247);;                 
	width: 100%;
	padding: 10px 25px 25px 25px;
    font-size: 12px;
    margin-top: 40px;
}
.navbarlista-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    background-color: rgb(245, 245, 247);
  }
.itemnavbar-footer {
    float: center;
    display: inline-block;
    border-right: 1px solid rgba(29, 29, 31, 0.521);
  }
  .itemnavbar-footer:last-child {
    border-right: none;
  }
.itemnavbar-link-footer {
    display: block;
    color: rgb(29,29,31);
    text-align: center;
    padding: 1px 5px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }


/*imágenes*/
.imgapple{
    max-width: 100%;
    height: 30px;
    object-fit: cover;
    object-position: 100% 20%;
    vertical-align: bottom;
}
.img1 {
    max-width: 90%;
    height: auto;
    padding-bottom: 80px;
    display: block;
    margin: auto;
    /*width: 50%;*/
  }
.img2-left {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
    /*margin-left: auto;
    margin-right: auto;    
    /*position: absolute;
    bottom: 0;*/
}
.img2-right {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
    /*position: absolute;
    bottom: 0;*/
}
.img3{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30px;
    height: 30px;
    object-fit: scale-down;
    padding-top: 50px;
} 


/*flex container dividir pantalla*/
.wrapper {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;
    align-content: space-between;*/
  }

.halfscreensplit {
    flex: 50%;
    background-color:rgb(242, 242, 242);
    text-align: center;
    margin: 10px;
    padding: 50px 50px 0px 50px;
    /*width: 100px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;*/
  }

.wrapper-column {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;
    align-content: space-between;*/
  }




